{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">{{cmp_details.name}} Job List</h1>
{% endblock %}


{% block breadcrumb %}
{% endblock %}


{% block pageContent %}
<!-- jQuery-2.1.3 -->

<!-- gauge.js -->
<script src="{% static 'plugins/gauge-js/gauge.min.js' %}"></script>



<div ng-controller="CreateJobProfileControeller">

	<div class="row">
		<div class="col-sm-12">
            <form method="post" action='{% url "create_job" %}'>{% csrf_token %}

            <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-7" style="padding: 5%"> 
                    <h4 style="margin-bottom: 4%;color: #d26e13;">Job Profile</h4>
                            <div class="row" style=" border: 1px solid; padding: 2%; border-color:hsla(133, 31%, 65%, 0.75);background-color: #fff !important;">
                                <div class="row">
                                    <label class="col-sm-3" style="margin-top: 2%;">Job Title</label>
                                    <div class="form-group col-sm-9">
                                        {{form.job_title}}
                                        {{form.job_title.errors}}
                                    </div><!-- /.form-group -->
                                </div>

                                <!--<div class="row">
                                    <label class="col-sm-3" style="margin-top: 2%;">Department</label>
                                    <div class="form-group col-sm-9">
                                        {{form.department}}
                                        {{form.department.errors}}
                                        
                                    </div>
                                </div> -->
                                <div class="row">
                                    <label class=" col-sm-3" style="margin-top: 2%;">Salary</label>
                                    <div class="form-group col-sm-9">
                                    {{form.salary_type}}
                                    </div>
                                </div>
                                <div class="row">
                                    <label class=" col-sm-3"></label>
                                    <label class=" col-sm-9" style="color: red" ng-show="salary_error_msg">Upto should higher than From</label>
                                </div>
                                <div class="row">
                                    <label class=" col-sm-3"></label>
                                    <label class=" col-sm-5">From</label>
                                    <label class=" col-sm-3">Upto</label>
                                </div>
                                <div class="row">
                                    <label class=" col-sm-3"></label>
                                    <div class="form-group col-sm-4">
                                        {{form.salary_min}}
                                        {{form.salary_min.errors}}
                                    </div><!-- /.form-group -->
                                    <label class=" col-sm-1" style="margin-top: 2%";>to</label>
                                    <div class="form-group col-sm-4">
                                        {{form.salary_max}}
                                        {{form.salary_max.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->


                                <div class="row">
                                    <label class="col-sm-3" style="margin-top: 2%;">Job Type</label>
                                    <div class="form-group col-sm-9">
                                        {{form.job_type}}
                                        {{form.job_type.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                                <div class="row" ng-if="validate_job_type()">
                                    <label class="col-sm-3" style="margin-top: 2%;">Job Period</label>
                                    <div class="form-group col-sm-4">
                                        {{form.job_period}}
                                        {{form.job_period.errors}}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-4">
                                        {{form.job_period_data}}
                                        {{form.job_period_data.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <label class="col-sm-3" style="margin-top: 2%;">Job Start Date</label>
                                    <div class="form-group col-sm-9">                                    
                                        <div class="input-group input-append date" id="startDatePicker">
                                            {{form.start_date}}
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        {{form.start_date.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <label class="col-sm-3" style="margin-top: 2%;">Job Location</label>
                                    <div class="form-group col-sm-9">
                                        {{form.job_location}}
                                        {{form.job_location.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <label class="col-sm-3" style="margin-top: 2%;">Job Description </label>
                                    <div class="form-group col-sm-9">
                                        {{form.job_description}}
                                        {{form.job_description.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                                <div class="row">
                                    <label class="col-sm-3">Technical Skills</label>
                                    <div class="form-group col-sm-9">
                                        {{form.tech_skills}}
                                        {{form.tech_skills.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                                <div class="row">
                                    <label class="col-sm-3">Min Degree Qualification</label>
                                    <div class="form-group col-sm-9">
                                        {{form.min_degree_qulification}}
                                        {{form.min_degree_qulification.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <label class="col-sm-3">Subject</label>
                                    <div class="form-group col-sm-9">
                                        <select class="form-control" ng-model="subject" name="subject_category" ng-change="get_subject_select_field()">
                                            <option value="1">Medicine & dentistry</option>
                                            <option value="2">Subjects allied to medicine</option>
                                            <option value="3">Veterinary sciences</option>
                                            <option value="4">Biological sciences</option>
                                            <option value="5">Agriculture & related subjects</option>
                                            <option value="6">Physical sciences</option>
                                            <option value="7">Mathematical sciences</option>
                                            <option value="8">Computer science</option>
                                            <option value="9">Engineering & technology</option>
                                            <option value="10">Architecture, building & planning</option>
                                            <option value="11">Social studies, Social studies</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row" ng-show="subject_list_show">
                                    <label class="col-sm-3">Departments</label>
                                    <div class="form-group col-sm-9">
                                        <select class="form-control" ng-options="subject_obj for subject_obj in subject_list" 
                                               ng-model="subject_depatment" name="subject"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class=" col-sm-3">Work Experince <small>(years)</small></label>
                                    <div class="form-group col-sm-9">
                                        {{form.work_experience_year}}
                                        {{form.work_experience_year.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                                <div class="row">
                                    <label class=" col-sm-3">Industry Experince <small>(years)</small></label>
                                    <div class="form-group col-sm-9">
                                        {{form.industry_exp_year}}
                                        {{form.industry_exp_year.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->

                                <div class="row">
                                    <label class="col-sm-3">Certifications</label>
                                    <div class="form-group col-sm-9">
                                        {{form.certifications}}
                                        {{form.certifications.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                                <div class="row">
                                    <label class="col-sm-3">Sponsor Visa</label>
                                    <div class="form-group col-sm-9">
                                        {{form.sponsor_visa}}
                                        {{form.sponsor_visa.errors}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                        </div>

                            <div class="center" style="margin-top: 2%;">
                                <button type="submit" class="btn btn-secondary" style="border-radius: 24px;background-color: #ed7631;">Review & Post Vacancy</button>
                            </div><!-- /.center -->
                    </div><!-- /.col-* -->
                    </form>


                    </div><!-- /.col-* -->
		</div>
	</div>



<style type="text/css">
    
.company-card-image {
    padding: 20px 30px;
}

.company-card {
    margin: 0px 0px 0px 0px;
}


.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 144px;
}


.company-card {
    border: 1px solid;
    margin: 0px 0px 0px 0px;
}

.company-card-image {
    padding: 58px 20px;
    position: relative;
    text-align: center;
}

.small-box {
    border: 1px solid;
    padding: 5%;
    background-color: white;
}

    
.border-class {
    border: 1px solid;
    border-color:hsla(133, 31%, 65%, 0.75);
    background-color: #fff;
    padding: 2%;
}



</style>



<script type="text/javascript">
    
$(".js-basic-multiple").select2();


$('#id_job_start_date').datepicker({})
$('#id_start_date').datepicker({})
$('#id_end_date').datepicker({})

</script>

{% endblock %}