{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">Profile Details</h1>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
    </ul>
{% endblock %}


{% block pageContent %}
<div class="row">
    <div class="col-sm-5" style="margin-bottom: 2%;">
        <h4>Welcome to WorktoJob Recruiter!</h4>
        <p>We have got some app integrations to get your job done faster? Check them out here!  - Slack, Workable</p>
    </div>
</div>


<div class="row">
{% for obj in job_list %}
    <div class="col-sm-3" style="margin-top: 1%;">
        <div class="company-card" style="background-color: #fff;">
            <div class="company-card-image1" style="padding: 3%;">
                <h3 style="font-size: 18px;font-weight:600;"> {{obj.job_title}}</h3>
                <p> £{{obj.salary_min}},000 - £{{obj.salary_max}},000</p>
                <p> opening till at {{obj.job_start_date}}</p>

                <h3 style="font-size: 16px;font-weight:600; color:green"> 78 Candidates</h3>



                <div class="center" >
                    <a href="{% url 'employee_job_list' obj.pk %}" class="btn" style="border-radius: 24px;background-color: #ed7631;color: #fcfdfd;">VIEW  CANDIDATES</a>
                </div><!-- /.center -->
                
            </div><!-- /.company-card-image -->
        </div><!-- /.company-card -->
    </div><!-- /.col-* -->
{% endfor %}

    <div class="col-sm-2" style="margin-top: 1%;">
        <div class="company-card" style="background-color: #fff;">
            <div class="company-card-image">
                <a href="{% url 'create_job' %}"><i class="fa fa-plus fa-3x" style="color: #ccc;"></i></a>
                
            </div><!-- /.company-card-image -->
        </div><!-- /.company-card -->
    </div><!-- /.col-* -->
</div>

<style type="text/css">
    


.company-card {
    border: 1px solid #e25e00;
    border-radius: 17px;
    margin: 0px 0px 0px 0px;
}

.company-card-image {
    padding: 58px 20px;
    position: relative;
    text-align: center;
}

</style>

{% endblock %}