{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">{{cmp_details.name}} Job List</h1>
{% endblock %}


{% block breadcrumb %}

{% endblock %}


{% block pageContent %}


<div ng-controller="JobMatchingControeller">

<div class="border-class">
    <div class="job-preview job-preview--image-set is-ready job-preview--show-info">
        <div class="row">
                <div class="col-sm-4">
                    <div class="company-card">
            <div class="company-card-image">
                <span>Employeer Details</span>
                
            </div><!-- /.company-card-image -->

            <div class="company-card-data">
                <dl>
                    <dt>Company Name</dt>
                    <dd>{{job_obj.company.company_name}}</dd>

                    <dt>Industry</dt>
                    <dd>{{job_obj.company.industry}}</dd>

                    <dt>Company Size</dt>
                    <dd>{{job_obj.company.company_size}}</dd>

                    <dt>Contact Email</dt>
                    <dd>{{job_obj.company.user_profile.email}}</dd>

                    <dt>Location</dt>
                    <dd>{{job_obj.company.user_profile.city}}</dd>
                </dl>
            </div><!-- /.company-card-data -->
        </div><!-- /.company-card -->


                    <div class="widget">
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div><!-- /.widget -->

                    <div class="widget">
                        <h2>Job Profile</h2>

                             <div class="company-card-data">
                                <dl>

                                    <dt>Location</dt>
                                    <dd>{{job_obj.job_location}}</dd>

                                    <dt>Job Type</dt>
                                    <dd>{{job_obj.job_type}}</dd>

                                    <dt>Salary</dt>
                                    <dd>£{{job_obj.salary_min}},000 - £{{job_obj.salary_max}},000</dd>

                                    <dt>Start Date</dt>
                                    <dd>
                                        {{job_obj.start_date}}
                                    </dd>
                                </dl>
                            </div><!-- /.company-card-data -->
                    </div><!-- /.widget -->
                </div><!-- /.col-* -->

                <div class="col-sm-8">
                    <div class="company-header" style="margin: 0px 0px 18px 0px;">
                        <h2>{{job_obj.job_title}}</h2>
                    </div><!-- /.company-header -->

                    <h3 class="page-header" style="padding: 4px 0px 10px 0px;">Job Description</h3>

                    <p>
                        {{job_obj.job_description}}
                    </p>

                    <div class="company-header">
                        <a href="#" class="btn btn-default" ng-show="loader_visibility_top_10==false" ng-click="change_color(1)">Select All</a>
                        <a href="#" class="btn btn-secondary" ng-show="loader_visibility_top_10==true">Select All</a>
                        <a href="#" class="btn btn-default" ng-show="loader_visibility_all==false" ng-click="change_color(2)">Top 10</a>
                        <a href="#" class="btn btn-secondary" ng-show="loader_visibility_all==true">Top 10</a>
                        <a href="#" class="btn btn-default" ng-show="loader_visibility_latest==false" ng-click="change_color(3)">Latest</a>
                        <a href="#" class="btn btn-secondary" ng-show="loader_visibility_latest==true">Latest</a>
                    </div><!-- /.company-header -->



                    <h3 class="page-header">Matching Candidates to Job</h3>
                    <img src="{% static 'img/ajax-loader.gif' %}" ng-show="loader_visibility" style="width: 94%;">
                    <div class="positions-list" ng-show="loader_visibility==false">
                        <div id="inner-content-div" style="padding:2px;">
                        {% for obj in emp_obj %}
                        <div class="positions-list-item" style="padding: 12px 0px 7px 0px;">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type='checkbox' name='thing' value='{{obj.id}}' id="checkbox{{obj.id}}"/>
                                </div>
                                <div class="col-sm-10">
                            <h2><a href="#" ng-click="show_profile_details({{obj.id}})">{{obj.name}}</a>
                            {% if obj.status == 'available' %}
                            <span class="resume-main-verified" style="width: 96px;background-color: #55a747;padding: 6px;">available</span>
                            {% elif obj.status == 'send invitation' %}
                            <span class="resume-main-verified" style="width: 96px;background-color: #f99b3a;padding: 6px;">send invitation</span>
                            {% elif obj.status == 'invitation accepted' %}
                            <span class="resume-main-verified" style="width: 96px;background-color: #0f77a9;padding: 4px;">invitation accepted</span>
                            {% endif %}

                            
                            </h2>
                            <h3>{{obj.degree}} <br></h3>

                            <div class="position-list-item-date" style="color:green">Mark : {{obj.mark}}</div><!-- /.position-list-item-date -->
                            <h2>
                                


                            </h2>
                            <div class="position-list-item-action">College : {{obj.college}}</div><!-- /.position-list-item-action -->
                                </div>
                            </div>
                        </div><!-- /.positions-list-item -->
                        {% endfor %}
                        </div>

                        <div class="resume-main-actions pull-right">
                            <a href="#" class="btn btn-secondary"><i class="fa fa-download"></i> Download</a>
                        </div><!-- /.resume-main-actions -->

                    </div><!-- /.positions-list -->
                </div><!-- /.col-sm-8 -->
            </div>


    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="resume-main-content">
                <h2>{[{emp_prof.name}]}
                    <span class="resume-main-verified"><i class="fa fa-check"></i></span>
                </h2>

                <h3>{[{emp_prof.degree}]} 
                                    <span class="resume-main-rating">
                        Mark : {[{emp_prof.mark}]}
                    </span><!-- /.resume-main-rating --></h3>

                <p class="resume-main-contacts">
                    <i class="fa fa-map-marker"></i>  {[{emp_prof.location}]}<br>
                    Department: {[{emp_prof.department}]} - College: {[{emp_prof.college}]}

                </p><!-- /.resume-main-contact -->

                <div class="resume-main-actions">
                    <a href="#" class="btn btn-secondary"><i class="fa fa-download"></i> Download</a>
                </div><!-- /.resume-main-actions -->
            </div>
      </div>
    </div>
  </div>
</div>


</div>
<style type="text/css">
	
.border-class {
	border: 1px solid;
	border-color:hsla(133, 31%, 65%, 0.75);
	background-color: #eeeeee;
	padding: 2%;
}

.job-preview.job-preview--show-info.job-preview--image-set {
    background: #fff;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.16);
    padding: 16px;
}

.jov-preview__status {
    margin: -16px -16px 16px;
    padding: 16px;
    border-radius: 8px 8px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}


.is-ready .jov-preview__status {
    background-color: #ffd77c;
    color: #ee9a00;
}
.company-card-data dt {
    float: left;
    line-height: 24px;
    padding: 8px 0px 8px 20px;
    width: 124px;
}

</style>
<script type="text/javascript">
    

$('#inner-content-div').slimScroll({
    height: '290px'
});
</script>
{% endblock %}