{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">Profile Details</h1>
{% endblock %}


{% block breadcrumb %}

{% endblock %}


{% block pageContent %}



<div class="row">
    <div class="col-sm-5" style="margin-bottom: 2%;">
        <h4>Welcome to WorktoJob Recruiter</h4>
        <p>Recruit the best Graduates with Work<i>to</i>Job.</p>
    </div>
</div>


<div class="row">
    <div class="col-sm-11" style="margin-left: 4%;">
        <a href="{% url 'create_job' %}" class="btn pull-right" style="border-radius: 24px;background-color: #ed7631;color: #fcfdfd; font-size:10px;margin-top: -5%;">Post New Vacancy</a>

        <div class="company-card" style="background-color: #fff; padding: 3%; min-height: 445px">
            <div id="inner-content-div" style="padding:2px;">
            <table class="table table-striped">
                <thead>
                    <tr style="color: #f99b3a;">
                        <th>Title</th>
                        <th>Description</th>
                        <th><i class="fa fa-map-marker"></i> Location</th>
                        <th>Salary Range</th>
                        <th>Potential Candidate</th>
                        <th style="padding-left:6%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in job_list %}
                    <tr>
                        <td>{{obj.job_title}}</td>
                        <td style="width: 30%;">{{obj.job_description}}</td>
                        <td>{{obj.job_location}}</td>
                        <td>£{{obj.salary_min}},000 - £{{obj.salary_max}},000</td>
                        <td style="color:green">{{forloop.counter | add:"100" }} Candidates</td>
                        <td>
                            <a href="{% url 'job_matching_list' obj.pk %}" class="btn">View Candidate</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>













<script type="text/javascript">
    

$('#inner-content-div').slimScroll({
    height: '465px'
});
</script>



<style type="text/css">
    


.company-card {
    border: 1px solid #e25e00;
    border-radius: 17px;
    margin: 0px 0px 0px 0px;
}

.company-card-image {
    padding: 58px 20px;
    position: relative;
    text-align: center;
}

</style>

{% endblock %}