{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">{{cmp_details.name}} Job List</h1>
{% endblock %}


{% block breadcrumb %}

{% endblock %}


{% block pageContent %}

<script src="{% static 'plugins/gauge-js/gauge.min.js' %}"></script>

<div ng-controller="ShowCreateJobProfileControeller">

<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-5">
		<h4 style=" margin-bottom: 4%;color: #d26e13;">Job Profile</h4>
			<div class="border-class">
				<div class="job-preview job-preview--image-set is-ready job-preview--show-info">
					<div class="jov-preview__status ">
						<p> Ready to be published </p>
					</div>

					<h4>{{job_obj.job_title}}</h4>

					<ul class="list-unstyled">
                      <li><b>Job Title</b> : {{job_obj.job_title}}</li>
                      <li><b>Location</b> : {{job_obj.job_title}}</li>
                      <li><b>Start Date</b> : {{job_obj.job_start_date}}</li>
                      <li>We are recruiting for a {{job_obj.job_type}} {{job_obj.department}}</li>
                      <li><b>Department</b> : {{job_obj.subject}}</li>
                      <li><b>Job Type</b> : {{job_obj.job_type}}</li>
                      <li><b>Educational Qulification</b> : {{job_obj.min_degree_qulification}}</li>
                      <li><b>Industry Experince</b> : {{job_obj.industry_exp_year}}.{{job_obj.industry_exp_months}} Year</li>
                      <li><b>salary</b> : £{{job_obj.salary_min}},000 - £{{job_obj.salary_max}},000/{{job_obj.salary_type}}</li>
                      <li><b>Skill Set</b> : {% for obj in skill  %} {{obj.text}}, {% endfor %}</li>
                      <li><b>Visa Status</b> : {{job_obj.sponsor_visa}}</li>
                      <li><b>Description</b> : {{job_obj.job_description}}</li>
                      
                        <a href="{% url 'update_job_profile' job_obj.id %}" class="pull-right" style="color:#f6a250;font-size:14px"> <i class="fa fa-backward"> </i> <u>Edit Job Vaccancy Details </u> </a>

                    </ul>
				</div>
			</div>

		
		</div>

        <div class="col-sm-1">
        </div>

        <div class="col-sm-5">
            <h4 style=" margin-bottom: 4%;color: #d26e13;">Campaign Details</h4>

                <div class="row">
                    <div class="col-sm-8">


                        <div class="row">
                            <div class="form-group col-sm-6">
                                      <label for="example-text-input" class="col-form-label">Start Date</label>
                                        <input class="form-control" type="text" id="cam_start_date" placeholder="Start Date">
                                </div>
                            <div class="form-group col-sm-6" style="padding-left: 0%;">
                                      <label for="example-text-input" class="col-form-label">End Date</label>
                                        <input class="form-control" type="text" id="cam_end_date" placeholder="End Date">
                                </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-5">

                                <div class="small-box">
                                <button type="button" ng-show="campaign_location==false" class="btn  center" style="margin-top: 1%;background-color:#fff; color:black;padding: 10px 28px;" ng-click="campaign_location_change_to_uk()">All over UK</button>
                                <button type="button" ng-show="campaign_location==true" class="btn  center" style="margin-top: 1%;background-color:red; color:#fff; padding: 10px 28px;">All over UK</button>
                                </div>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-7">
                                <div class="small-box">
                                <button type="button" ng-show="campaign_location==true" class="btn center" style="margin-top: 1%;background-color:#fff; color:black" ng-click="campaign_location_change_to_otherpalce()">Only from Job Locations</button>
                                <button type="button" ng-show="campaign_location==false" class="btn center" style="margin-top: 1%;background-color:red; color:#fff">Only from Job Locations</button>
                                </div>
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->

                        <img src="{% static 'img/ajax-loader.gif' %}" ng-show="loader_visibility" style="width: 94%;">
                        <div class="row" style="margin-top: 7%; border: 1px solid;border-color: #73b5ee;background-color: white;" ng-show="loader_visibility==false">
                            <div class="col-sm-12" style="margin-top: 5%;    margin-bottom: 3%;">
                                <div class="col-sm-5">
                                    <div id="preview">

                                        <canvas width="162" height="44" id="canvas-preview" style="width: 162px; height: 44px;margin-left: -35%!important;"></canvas>


                                      </div>
                                    
                                </div>
                                <div class="col-sm-7">
                                    <p> your audiance selection is fairly broad
                                </div>
                            </div><!-- /.company-card -->
                            <div class="col-sm-12" style="margin-bottom: 1%;">
                                <div class="small-box">
                                    <div class="center" style="margin-top: 1%;font-size: 15px;color: rgb(225, 112, 50);">
                                    <b>{[{candidate_prediction}]} Potential Candidates</b>
									                  </div>
                                </div>
                                <p class="center" style="margin-top: 2%;"> This is only an estimate. Numbers shown are based on the latest available data, from your selected criteria. </p>
                            </div>
                        </div>
                        <div class="center" style="margin-top: 13%;">
                            <a href="/" class="btn btn-secondary" style="border-radius: 24px;background-color: #ed7631;">Review & Post Job</a>
                        </div><!-- /.center -->
                    </div><!-- /.company-card -->
                </div><!-- /.col-* -->
        </div>
	</div>
</div>



</div>

<script type="text/javascript">

var now = new Date();
$("#cam_start_date").datepicker("setDate", now);

now.setDate(now.getDate() + 25);
  
$('#cam_start_date').datepicker({})
$('#cam_end_date').datepicker({})

$("#cam_end_date").datepicker("setDate", now);

</script>


<style type="text/css">
	
.border-class {
	border: 1px solid;
	border-color:hsla(133, 31%, 65%, 0.75);
	background-color: #eeeeee;
	padding: 2%;
}

.job-preview.job-preview--show-info.job-preview--image-set {
    background: #fff;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.16);
    padding: 16px;
}

.jov-preview__status {
    margin: -16px -16px 16px;
    padding: 16px;
    border-radius: 8px 8px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}


.is-ready .jov-preview__status {
    background-color: #ffd77c;
    color: #ee9a00;
}

</style>
{% endblock %}