{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">{{cmp_details.name}} Job List</h1>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Create Job Profile</a></li>
    </ul>
{% endblock %}


{% block pageContent %}

<div ng-controller="CreateJobProfileControeller">

	<div class="row">
		<div class="col-sm-12">
            <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="form-group">
                                <label for="form-register-email">Job Title</label>
                                {{job_details_form.job_title}}
                                {{job_details_form.job_title.errors}}
                            </div><!-- /.form-group -->
                        </div>

                        <div class="row">
                            <div class="form-group ">
                                <label for="form-register-first-name">Department</label>
                                {{job_details_form.department}}
                                {{job_details_form.department.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->


                        <div class="row">
                            <div class="form-group ">
                                <label for="form-register-first-name">Job Type</label>
                                {{job_details_form.job_type}}
                                {{job_details_form.job_type.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->


                        <div class="row">
                            <label class=" col-sm-3" style="margin-top: 6%;">Salary Range</label>
                            <div class="form-group col-sm-2">
                                <label for="form-register-first-name">Min</label>
                                {{job_details_form.salary_min}}
                                {{job_details_form.salary_min.errors}}
                            </div><!-- /.form-group -->
                            <label class=" col-sm-1" style="margin-top: 6%;">to</label>
                            <div class="form-group col-sm-2">
                                <label for="form-login-surname">Max</label>
                                {{job_details_form.salary_min}}
                                {{job_details_form.salary_max.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->








                        <div class="row">
                            <div class="form-group ">
                                <label for="form-register-first-name">Job Description</label>
                                {{job_details_form.job_description}}
                                {{job_details_form.job_description.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->


                        <div class="row">
                            <div class="form-group ">
                                <label for="form-register-first-name">Job Location</label>
                                {{job_details_form.job_location}}
                                {{job_details_form.job_location.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->


                        <div class="row">
                            <div class="form-group ">
                                <label for="form-register-first-name">Job Start Date</label>
                                {{job_details_form.job_start_date}}
                                {{job_details_form.job_start_date.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->


                        <div class="row">
                            <div class="form-group ">
                                <label for="form-register-first-name">Job End Date</label>
                                {{job_details_form.job_location}}
                                {{job_details_form.job_location.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->


                        <div class="row">
                            <div class="form-group ">
                                <label for="form-register-first-name">Job Profile</label>
                                {{job_details_form.job_profile}}
                                {{job_details_form.job_profile.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->


                    </div><!-- /.col-* -->

                    <div class="col-sm-6">


                    </div><!-- /.col-* -->
		</div>
	</div>
</div>
</div>



<style type="text/css">
    





</style>





{% endblock %}