{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">Profile Details</h1>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Employee List</a></li>
    </ul>
{% endblock %}


{% block pageContent %}
<div class="row">
    <div class="col-sm-5" style="margin-bottom: 6%;">
        <h4>Employee List for {{opening_details.job_title}}</h4>

        <p> COMING SOON !!!!!!!!!!!!!!!!!!!!</p>
    </div>
</div>




{% endblock %}