

{% extends 'base.html' %}


{% block pageHead %}
    <h1 class="center">Join Now</h1>
{% endblock %}

{% block pageContent %}


<div class="row">


        
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">


                        <form method="post" action='{% url "register_company_profile" %}'>{% csrf_token %}


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="form-register-first-name">First Name</label>
                                {{form.first_name}}
                                {{form.first_name.errors}}
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label for="form-login-surname">Last Name</label>
                                {{form.last_name}}
                                {{form.last_name.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->



                        <div class="form-group">
                            <label for="form-register-email">E-mail</label>
                            {{form.email}}
                            {{form.email.errors}}
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="form-register-password">Password</label>
                            <input type="password" name="password" class="form-control" id="form-register-password">
                            {{form.password.errors}}
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="form-register-retype">Retype</label>
                            {{form.password2}}
                        </div><!-- /.form-group -->




                        <div class="center">
                            <button type="submit" class="btn btn-secondary">Create an Account</button>
                        </div><!-- /.center -->
                        </form>

                    </div><!-- /.col-* -->


            
</div><!-- /.row -->

<style type="text/css">
    
.errorlist {

    color : red;
}

</style> 

{% endblock %}


